{% load static %}
  
  <!-- CATEGORY -->
    <section id="team" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12">
                       <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <h2>View our Menu</h2>
                            <h4 lang="ar" style="font-size: 20px;">مطعم اتش بارك</h4>
                       </div>
                  </div>

                  {% for item in category %}
                  
                  <div class="col-md-4 col-sm-4">
                       <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                            <a href="{% url 'category_product' item.slug %}#menu"><img src="{{ item.image.url}}" class="img-responsive" alt="" style="height: 450px;object-fit: cover;"></a>
                       </div>
                         
                       <div class="team-info">
                            <h3>{{ item.name }}</h3>
                       </div>
                  </div>  
                  
                  {% endfor %}

             </div>
        </div>
   </section>